* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    font-family: Proxima Vara, Arial, Helvetica, Sans, Sans-Serif;

}

/** CARRUSEL **/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;

}

.carousel-item img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;

}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}


/** FOOTER **/

.footer-container {
    position: relative;
    background-color: rgb(19, 20, 20);
    padding: 2 rem 0;
    bottom: 0px;
    left: 0px;
    width: 100%;

}

.footer {

    width: 80%;
    color: rgb(181, 178, 174);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 200px;

    margin: auto;

}

.footer-heading1,
.footer-heading2,
.footer-heading3 {
    display: flex;
    flex-direction: column;


}

.footer-heading2 {
    margin-top: 60px;
}



.contact {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-around;

}

.footer-heading1 a,
.footer-heading2 a,
.footer-heading3 a {
    color: rgb(181, 178, 174);
    text-decoration: none;
    margin-bottom: 12px;
    padding: 5;
}

.footer-heading2 a:hover {
    color: #ffffff;
    transition: 0.3s ease-out;
}


.column2 {
    margin-bottom: 0rem;
}

.map {
    border: #fff solid 2px;
    width: 100%;
    height: 150px;


    margin-bottom: 15px;
}

iframe {
    width: 100%;
    height: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.logohydra1 img {
    max-width: 100%;
    height: auto;
}

.img {
    height: 100px;
}


@media (max-width: 1000px) {

}

@media (max-width: 767px) {

    a {
        text-decoration: none;
        color: rgba(57, 53, 54, 255);
    }


    .h-li:hover {
        background-color: gainsboro;
        transition: 0.25s all ease-in;
    }

    header {
        background-color: rgba(74, 149, 207, 255);
    }

    .h-li>a {
        text-decoration: none;
        color: rgba(57, 53, 54, 255);
    }

    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    li {
        padding: 10px;
        font-size: 10px;
    }

    .li-select {
        padding: 5px;
    }

    .img-nav {
        padding: 0;
        width: 20%;
        display: none;
    }

    .select-nav {
        border: none;
        background-color: transparent;
        color: rgba(57, 53, 54, 255);
        padding: 5px;
    }

    .select-nav:hover {
        background-color: gainsboro;
        transition: 0.25s all ease-in;
    }
}

    /* FOOTER */
    @media (max-width: 768px) {
        /* Estilos para pantallas de hasta 768px de ancho */


        .footer {
            width: 90%;
        }

        .footer-heading2 {
            margin-bottom: 2rem;
            margin-top: 0px;
        }

        .logohydra1 img {
            max-width: 300px;
        }

        .map {
            height: 250px;
        }
    }

    @media (max-width: 576px) {

        /* Estilos para pantallas de hasta 576px de ancho */
        .footer-heading2 {
            margin-top: 0px;
        }

        .contact {

            gap: 1rem;
        }

        .logohydra1 img {
            max-width: 300px;
        }

        .map {
            height: 200px;
        }
    }
