* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  font-family: Proxima Vara, Arial, Helvetica, Sans, Sans-Serif;

}

a {
  text-decoration: none;
  color: rgba(57, 53, 54, 255);

}


.h-li:hover {
  background-color: gainsboro;
  transition: 0.25s all ease-in;

}

header {
  background-color: rgba(74, 149, 207, 255);


}

.h-li>a {
  text-decoration: none;
  color: rgba(57, 53, 54, 255);
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

li {
  padding: 10px;
  font-size: 10px;
}

.li-select {
  padding: 5px;


}

.img-nav {
  width: 10%;
  padding-right: 50px;
}

.select-nav {
  border: none;
  background-color: transparent;
  color: rgba(57, 53, 54, 255);
  padding: 5px;
}

.select-nav:hover {
  background-color: gainsboro;
  transition: 0.25s all ease-in;
}


/**    NAV   **/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;

}

.nav-text {
  font-size: 16px;

}

.nav-text:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid rgba(74, 149, 207, 255);
}

/** CONTENIDO **/
.content {
  display: flex;
  justify-content: center;
}

.content1 {
  display: flex;
  flex-direction: row;
}

.content1>img {
  width: 30%;
}

/** CONTENIDO1 **/

.content {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;

}

.content1 {
  display: flex;
  flex-direction: row;

}

.sub-c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-subc1 {
  display: flex;
  flex-direction: row;
}

.sub-content1>h3 {
  padding-top: 10px;
  font-size: 16px;
  color: rgba(57, 53, 54, 255);
  display: flex;
  justify-content: center;
}

.sub-content1>p {
  padding: 10px 13%;
}


.sub-content2>h3 {
  padding-top: 10px;
  font-size: 16px;
  color: rgba(57, 53, 54, 255);
  display: flex;
  justify-content: center;
}

.sub-content2>p {
  padding: 10px 20%;
}


/** MEDIA QUERY **/
@media (max-width: 1200px) {


  a {
    text-decoration: none;
    color: rgba(57, 53, 54, 255);

  }


  .h-li:hover {
    background-color: gainsboro;
    transition: 0.25s all ease-in;

  }

  header {
    background-color: rgba(74, 149, 207, 255);

  }

  .h-li>a {
    text-decoration: none;
    color: rgba(57, 53, 54, 255);
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: row;

  }

  li {
    padding: 10px;
    font-size: 10px;
  }

  .li-select {
    padding: 5px;


  }

  .img-nav {
    display: none;
  }

  .select-nav {
    border: none;
    background-color: transparent;
    color: rgba(57, 53, 54, 255);
    padding: 5px;
  }

  .select-nav:hover {
    background-color: gainsboro;
    transition: 0.25s all ease-in;
  }


  /**    NAV   **/
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
  }

  .nav-text {
    font-size: 16px;

  }

  .nav-text:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid rgba(74, 149, 207, 255);
  }

  /** CONTENIDO1 **/
  .content {
    display: flex;
    justify-content: center;

  }

  .content1 {
    display: flex;
    flex-direction: column;

  }

  .sub-c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .sub-c2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-subc1 {
    display: flex;
    flex-direction: row;
  }

  .sub-content1>h3 {
    padding-top: 10px;
    font-size: 16px;
    color: rgba(57, 53, 54, 255);
    display: flex;
    justify-content: center;
  }

  .sub-content1>p {
    padding: 10px 13%;
  }


  .sub-content2>h3 {
    padding-top: 10px;
    font-size: 16px;
    color: rgba(57, 53, 54, 255);
    display: flex;
    justify-content: center;
  }

  .sub-content2>p {
    padding: 10px 20%;
  }
}